.app {
  height: 100vh;

}

.container {
  width: 70%;
  height: 50%;
  text-align: center;
  margin: auto;
}

.card {
  height: 50%;
  width: 30%;
  display: inline-flex;
  margin: 1rem;
  justify-content: center;
  text-align: center;
}

.card-content{
  margin: 1rem auto
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}